---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import {obtenerFraseAleatoria}  from '../utils.js';
import data from '../../db/contenido.json';
---

<Layout title="Welcome to Luchito.">
	<main>
		
		<h1 class="text-3xl font-bold">Welcome to <span class="text-gradient">Luchito's</span></h1>

		<p class="instructions">
			<b>Frase del Día:</b> {obtenerFraseAleatoria().frase}
		</p>

		
<form>   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
        
    </div>
</form>

<ul role="list" class="link-card-grid flex flex-col" id="card-list">

	{data.map(({ name, description, link }) => (
		<Card
		href={link}
		title={name}
		body={description}
	/>
	))}
</ul>

	</main>



 
	<script>
		const cardList = document.getElementById('card-list'); // Obtener la lista de tarjetas
		const searchInput = document.getElementById('default-search'); // Obtener el campo de búsqueda
	
		searchInput.addEventListener('input', function(event) {
			const searchTerm = event.target.value.toLowerCase(); // Obtener el término de búsqueda en minúsculas
	
			// Iterar a través de las tarjetas y mostrar/ocultar según el término de búsqueda
			cardList.querySelectorAll('.link-card').forEach(card => {
				const title = card.querySelector('.card-title').textContent.toLowerCase();
				const body = card.querySelector('.card-body').textContent.toLowerCase();
				if (title.includes(searchTerm) || body.includes(searchTerm)) {
					card.style.display = 'block';
				} else {
					card.style.display = 'none';
				}
			});
		});
	</script>


  
	
	
</Layout>

  
