---
import Card from '../components/Card.astro';
import data from '../../db/contenido.json';

const { href, title, body, category } = Astro.props;
---

{data.map(({ name, description, link, category }) => (
<li class="link-card duration-500 transition-transform   mb-4" data-category={category}>
  
	<Card
		href={link}
		title={name}
		body={description}
		category={category}
	/>
</li>
))}



